---
---
.project-card {
  min-height: 32em;

  img {
    max-width: 100%;
  }
}

.fixed-bg-fill {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.video-placeholder {
  img {
    max-width: 100%;
  }
}