---
---
.project-card {
  min-height: 32em;

  img {
    max-width: 100%;
  }
}

.fixed-bg-fill {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.bg-transparent-black {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-placeholder {
  img {
    max-width: 100%;
  }
}