---
layout: default
---

<header class="jumbotron project-heading" style="background-image: url('{{ page.bannerFullUrl }}');">
  <h1 class="text-white"><small>project:</small> {{ page.title | escape }}</h1>
</header>
{% if page.githubRepo %}
<a href="https://github.com/{{ page.githubRepo }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ page.githubRepo }}</span></a>
{% endif %}

<section class="project">
  {{ page.description.data }}
</section>

<section class="project-videos">
</section>

<section class="project-images">
</section>

{% if page.vimeoAlbumId %}
<script>
  jQuery(function () {
    var albumId = {{ page.vimeoAlbumId | jsonify }};
    tekt.vimeo.addAlbum(albumId, $('.project-videos'));
  })
</script>
{% endif %}

{% if page.flickrSetId %}
<script>
  jQuery(function () {
    var setId = {{ page.flickrSetId | jsonify }};
    tekt.flickr.loadSetImages(setId, $('.project-images'));
  })
</script>
{% endif %}
